body {
    background-color: #1a1a1a;
    overflow-y: hidden;
}

#wrapper {
    height: 95vh;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#circle {
    width: 0vw;
    height: 0vh;
    background-color: black;
    border-radius: 100px;   
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    display: none;
}

header {
    display: none;
    width: 100vw;
    height: 80px;
    background-color: hsl(0, 0%, 20%);
    margin-top: -500px;
    opacity: 0;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    color: white;    
    width: 100px;
    height: 50px;
    background-color: hsl(0, 0%, 10%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: impact;
    margin-right: 5px;
    margin-top: -100px;
    -moz-user-select: none;
    cursor: pointer;
    opacity: 0;
    transition-property: box-shadow, font-size, border-radius, background-color;
    transition-duration: .2s, .2s, .2s, .6s;
}

.button:hover {
    box-shadow: inset 0px 5px 0px white;
    font-size: 20px;
    background-color: hsl(180, 70%, 40%);
    border-radius: 0px 0px 5px 5px;
    color: hsl(20, 90%, 0%);;
}

main {
    display: none;
    width: 100vw;
    height: 620px;
    background-color: hsl(180, 0%, 50%);
    margin-top: -500px;
    opacity: 0;
}

footer {
    display: none;
    width: 100vw;
    height: 100px;
    margin-top: -500px;
    background-color: hsl(20, 0%, 5%);
    opacity: 0;
}