body {
    background-color: #1a1a1a;
}

#wrapper {
    height: 95vh;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#circle {
    width: 0vw;
    height: 0vh;
    background-color: red;
    border-radius: 100px;   
}

header {
    display: none;
    width: 100vw;
    height: 200px;
    background-color: hsl(0, 0%, 20%);
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    color: white;    
    width: 100px;
    height: 50px;
    background-color: hsl(0, 0%, 10%);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: impact;
    margin-right: 5px;
    margin-top: -100px;
    -moz-user-select: none;
    cursor: pointer;
}

main {
    display: none;
    width: 100vw;
    height: 500px;
}

footer {
    display: none;
    width: 100vw;
    height: 100px;
}